[Unit]
Description=Ensure ThinkPad X13s DTB is in ESP
ConditionPathExists=/sys/firmware/devicetree/base/model
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ensure-x13s-dtb.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
